<div class="stock-home">
  <div class="stock-types">
      <p *ngFor="let item of doughnutChartLabels">{{item}}</p>
    </div>
  <div class="stock-cards">
    <div>
      <div 
        class="stock"
        *ngFor="let stock of doughnutChartData; let i = index">
        <button class="view-stock">View</button>
        <h1>{{doughnutChartData[i]}}</h1>
        
        <p><em><b>Fabric: </b></em> <br>{{stockFabrics[i]}}</p>

        <p><em><b>Designers: </b></em> <br>{{stockDesigners[i]}}</p>
        <div class="status"></div>

      </div>
    </div>
    
  </div>
</div>
