$type-color: #FEF9E7;
$raleway: "Raleway";

.stock-home {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;


  .stock-types {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      padding: 10px;
      background-color: white;
      height: 40px;
      width: 150px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $raleway;
      border-radius: 5px;
      font-size: 1.1em;
    }

    p:hover{
      cursor: pointer;
      background-color: $type-color;
    }
  }

  .stock-cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    div {
      display: flex;
      flex-wrap: wrap;

      .stock {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px 50px;
        min-width: 250px;
        min-height: 200px;
        border-radius: 10px;
        font-family: $raleway;

        .status {
          background-color: green;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          align-self: flex-end;
          margin-top: -30px;
          margin-bottom: 25px;
          margin-right: 10px;
        }

        .view-stock {
          align-self: flex-end;
          position: absolute;
          margin-top: 30px;
          padding: 5px;
          width: 90px;
          background-color: white;
          border: 1px solid black;
          border-radius: 20px;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}

/* Animations */
@keyframes sneak {
  0% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}