<div class="stock-home">
  <div class="stock-cards">
    <div *ngIf="allStockView">
      <div class="stock" *ngFor="let stockType of stockTypes; let i = index;">
        <div class="stock-title">
            <span>{{stockType | titlecase}}</span>
            <span class="status"></span>
            <button class="view-stock" (click)="toggleStockView(true, stockType)">View</button>
        </div>
        <h1>{{getStockQuantity(stockType)}}</h1>
        <p><em><b>Fabric: </b></em> <br>{{getStockFieldString(stockType, 'fabric') | titlecase}}</p>
        <p><em><b>Designers: </b></em> <br>{{getStockFieldString(stockType, 'designer') | titlecase}}</p>
      </div>
    </div>
  </div>

  <div class="stock-view" *ngIf="singleStockView">
    <div class="stock-types">
      <p 
        *ngFor="let stockType of stockTypes"
        [ngClass]="{'add-background': stockTypeTabId == stockType}"
        (click)="toggleStockView(true, stockType)">{{stockType | titlecase}}</p>
    </div>
    <app-stock-view 
      [stockData]="currentStockView"
      (viewChanged)="toggleStockView(false)"></app-stock-view>
  </div>
</div>
