.doughnut-chart {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;

  .canvas {
    position: relative;
  }

  .canvas, .stock-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 95%;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
  }

  .stock-details {
    flex-direction: column;
    h3 {
      border-left: 3px solid red;
      padding: 10px 20px;
      height: 50px;
      display: flex;
      align-items: center;

      span {
        animation-delay: 2s;
        animation: sneak 1s;
      }
    }
    button {
      padding: 10px 20px;
      border: 1px solid black;
      outline: none;
      border-radius: 20px;
      margin: 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: #FEF9E7;
      transition: 0.5s ease-in-out;
    }
  }
}