<div class="stock-card">
  <div class="stock-type">
    <h2>{{stockQuantity}}</h2>
    <p>{{stockName}}</p>
  </div>
  <div class="stock-details">
    <div class="stock-images">
      <div class="stock-image" *ngFor="let url of stockImageUrls">
        <img src={{url}}>
      </div>
    </div>
    <div class="stock-rows">
      <div class="rows">
        <p style="background-color: #D1F2EB">
          <span>D</span>
        </p>
        <span class="mini-text">{{designers}}</span>
      </div>
      <div class="rows">
        <p style="background-color: #FADBD8" title="Fabric">
          <span>F</span>
        </p>
        <span class="mini-text">{{fabrics}}</span>
      </div>
    </div>
  </div>
</div>

