<div class="stock-card">
  <div class="stock-type">
    <h2>12</h2>
    <p>Trousers</p>
  </div>
  <div class="stock-details">
    <div class="stock-images">
      <div class="stock-image">
        <img src={{stocks[0].url}}>
      </div>
      <div class="stock-image" >
        <img src={{stocks[1].url}}>
      </div>
      <div class="stock-image" >
        <img src={{stocks[2].url}}>
      </div>
    </div>
    <div class="stock-rows">
      <div class="rows">
        <p style="background-color: #D1F2EB">
          <span>D</span>
        </p>
        <span class="mini-text">Marco, Jared, Kato ...</span>
      </div>
      <div class="rows">
        <p style="background-color: #FADBD8" title="Fabric">
          <span>F</span>
        </p>
        <span class="mini-text">Jeans, Khaki, Silk ...</span>
      </div>
    </div>
  </div>
</div>

