<div class="sidebar">
  <span
    routerLink="/dashboard/stock"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <fa-icon [icon]="faStore"></fa-icon>
  </span>
  <span
    routerLink="/dashboard/stock/addStock"
    routerLinkActive="active">
    <fa-icon [icon]="faPlusCircle"></fa-icon>
  </span>
  <span
    routerLink="/dashboard/stock/analytics"
    routerLinkActive="active">
    <fa-icon [icon]="faChartLine"></fa-icon>
  </span>
  <span
    routerLink="/logout" 
    routerLinkActive="active">
    <fa-icon [icon]="faPowerOff"></fa-icon>
  </span>
</div>

<router-outlet></router-outlet>
